<!-- BACKGROUND -->
<div class="background">
</div>

<!-- TITLE -->
<div class="container background-title text-center">
  <h4>REGISTRATION</h4>
</div>

<div class="main-content">

  <div class="row" style="width: 100%;">
    <div class="col-md-12 text-center main-title">
      <h1>Register</h1>
    </div>
  </div>

  <div class="row" style="width: 100%; padding-top: 10px;">
    <div class="col-md-12 text-center">
      <p class="subtitle fancy"><span>create new account</span></p>
    </div>
  </div>

  <br><br>

  <div class="container register" style="width: 65%;">
    <form (ngSubmit)="onSubmit(registerForm)" [formGroup]="registerForm">
      <div class="row">
        <div class="col-md-12 text-center content-register">
          <input type="text" class="register col-md-6 col-md-offset-3" formControlName="firstName" placeholder="Your First Name *">

          <div class="row">
            <div *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched" class="col-md-12 text-center validator">
              First name is required!
            </div>
          </div>
          <br>

          <input type="text" class="register col-md-6 col-md-offset-3" formControlName="lastName" placeholder="Your Last Name *">

          <div class="row">
            <div *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched" class="col-md-12 text-center validator">
              Last name is required!
            </div>
          </div>
          <br>

          <input type="text" class="register col-md-6 col-md-offset-3" formControlName="email" placeholder="Your Email *">

          <div class="row">
            <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched" class="col-md-12 text-center validator">
              Email is required!
            </div>
          </div>
          <br>

          <input type="text" class="register col-md-6 col-md-offset-3" formControlName="phoneNumber" placeholder="Your Phone number *">

          <div class="row">
            <div *ngIf="registerForm.get('phoneNumber').hasError('required') && registerForm.get('phoneNumber').touched" class="col-md-12 text-center validator">
              Phone number is required!
            </div>
          </div>
          <br>

          <input type="text" class="register col-md-6 col-md-offset-3" formControlName="address" placeholder="Your Address *">

          <div class="row">
            <div *ngIf="registerForm.get('address').hasError('required') && registerForm.get('address').touched" class="col-md-12 text-center validator">
              Address is required!
            </div>
          </div>
          <br>

          <input type="password" class="register col-md-6 col-md-offset-3" formControlName="password" placeholder="Your Password *">

          <div class="row">
            <div *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched" class="col-md-12 text-center validator">
              Password is required!
            </div>
          </div>
          <br>

        </div>
      </div>

      <div class="row" style="width: 100%;">
        <div class="col-md-12 text-center button-register">
          <input type="submit" id="submit" [disabled]="registerForm.invalid" class="register submit" value="Register">
        </div>
      </div>
    </form>
  </div>
</div>


<br><br>