/* COLORS */
$colorWhite:    #fff
$colorLime:     #80BB01

/* FONTS */
$sizeTitle:     50px

/*---------------------------- BACKGROUND --------------------------*/
.background
    background: url(http://cdn-hn.arrowpress.net/efarm/wp-content/uploads/2017/05/slider-62.jpg)
    background-position: top
    background-repeat: no-repeat
    height: 30%
    background-size: cover

.background-title
    width: 100%
    position: absolute
    top: 15%
    color: $colorWhite

.background-title h4
    font-family: 'Cookie', cursive
    font-size: 100px
    color: $colorWhite

.background-title h2
	font-size: 70px
	line-height: 1.0
    font-weight: 800

.background-title h4::first-letter
    color: $colorLime

/*-------------------- REGISTER ----------------------*/
.main-content
    margin-top: 5%

input.register
	background: $colorWhite
	border: solid 1px #EBEBEB
	color: #111
    font-weight: 600
	padding: 9px 35px
	margin-right: 3%
	margin-bottom: 10px
	outline: none

.register.submit
	background-color: $colorLime
	border: 1px solid $colorLime
	color: $colorWhite
	font-size: 17px
	font-weight: 600
	text-align:center
	margin: 0px
	border-radius: 20px
	transition: 0.4s
    width: 100%

.register.submit:hover
	background-color: #333
	border: 1px solid #333

.content-register
    margin-top: 0px
    margin-bottom: 0px

.validator
	color:  red

.main-title h1
    font-size: $sizeTitle
    font-weight: 700

.fancy
    line-height: 0.5
    text-align: center
    font-size: 22px
    color: $colorLime

.fancy span 
    display: inline-block
    position: relative

.fancy span:before, .fancy span:after 
    content: ""
    position: absolute
    margin-top: 5px
    height: 5px
    border-bottom: 1px solid #111
    border-top: 1px solid #111
    top: 0
    width: 120px

.fancy span:before 
    right: 100%
    margin-right: 15px

.fancy span:after
    left: 100%
    margin-left: 15px