<!-- BACKGROUND -->
<div class="background">
  </div>
  
  <!-- TITLE -->
  <div class="container background-title text-center">
    <h4>PAGE NOT FOUND</h4>
  </div>
  
<br><br>

  <!-- MAIN-CONTENT -->
  <div class="container main-content text-center">

    <h1>Oooooops....</h1>

  </div>

  <br><br><br>