/* COLORS */
$colorWhite:    #fff
$colorLime:     #80BB01

/* FONTS */
$sizeTitle:     50px

/*---------------------------- BACKGROUND --------------------------*/
.background
    background: url(http://cdn-hn.arrowpress.net/efarm/wp-content/uploads/2017/05/slider-62.jpg)
    background-position: top
    background-repeat: no-repeat
    height: 40%
    background-size: cover

.background-title
    width: 100%
    position: absolute
    top: 20%
    color: $colorWhite

.background-title h4
    font-family: 'Cookie', cursive
    font-size: 100px
    color: $colorWhite

.background-title h2
	font-size: 70px
	line-height: 1.0
    font-weight: 800

.background-title h4::first-letter
    color: $colorLime

/*----------------------- MAIN CONTENT ----------------------*/
.main-content
    width: 100%
    margin-top: 5%

.main-title h1
    font-size: $sizeTitle
    font-weight: 700