/* COLORS */
$colorWhite:    #fff
$colorLime:     #80BB01

/* FONTS */
$sizeTitle:     50px

.btn-primary:hover
    background-color: transparent
    border: 2px solid $colorLime
    border-radius: 10px
    min-width: 70px
    color: $colorLime

.btn-primary
    background-color: transparent
    border: 2px solid #999
    border-radius: 10px
    min-width: 70px
    color: #333
    font-weight: 600