<!-- BACKGROUND -->
<div class="background">
</div>

<!-- TITLE -->
<div class="container background-title text-center">
  <h4>LOGIN</h4>
</div>

<div class="main-content">

  <div class="row" style="width: 100%;">
    <div class="col-md-12 text-center main-title">
      <h1>Log in</h1>
    </div>
  </div>

  <div class="row" style="width: 100%; padding-top: 10px;">
    <div class="col-md-12 text-center">
      <p class="subtitle fancy"><span>with existing account</span></p>
    </div>
  </div>

  <br><br>

  <div class="container login" style="width: 65%;">
    <form (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm">
      <div class="row">
        <div class="col-md-12 text-center content-login">
          <input type="text" placeholder="Your Email *" formControlName="email" class="login col-md-6 col-md-offset-3">

          <div class="row">
            <div *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched" class="col-md-12 text-center validator">
              Email is required!
            </div>
          </div>
          <br>

          <input type="password" placeholder="Your Password *" formControlName="password" class="login col-md-6 col-md-offset-3">

          <div *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched" class=" row">
            <div class="col-md-12 text-center validator">
              Password is required!
            </div>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div class="row" style="width: 100%;">
        <div class="col-md-12 text-center button-login">
          <input type="submit" id="submit" [disabled]="loginForm.invalid" class="login submit" value="Log in" style="width: 50%;">
        </div>
      </div>
    </form>
  </div>

  <br><br>

  <div class="row" style="width: 100%; padding-top: 10px;">
    <div class="col-md-12 text-center">
      <p>Don't have an accout?</p>
      <button class="btn btn-primary" (click)="register()">Register now</button>
    </div>
  </div>

</div>