<!-- BACKGROUND -->
<div class="background">
</div>

<!-- UNDER-NAV -->
<div class="container under-nav">
  <div class="row">
    <div class="col-md-3 text-right call-section">
      <p>
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502388446/Epam-Training-Final-App/phone-call.png" alt="">        +1-234-567-888
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img src="http://cdn-hn.arrowpress.net/efarm/wp-content/themes/efarm/images/logo5.png" alt="">
    </div>
    <div class="col-md-3 text-left">
      <div class="row" style="width: 100%;">
        <div class="col-md-4">
          <a routerLink="/cart" class="shopping-cart">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502388367/Epam-Training-Final-App/shopping-cart.png" alt="">
            Cart
          </a>
        </div>
        <div class="col-md-3">
          <div *ngIf="isUserAuthenticated == true" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                My account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a routerLink="/profile" class="dropdown-item">My Profile</a>
              <a (click)="logOut()" class="dropdown-item">Log Out</a>
            </div>
          </div>
          <a *ngIf="isUserAuthenticated == false" routerLink="/login" class="log-in">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TITLE -->
<div class="container background-title text-center">
  <h4>Products catalog</h4>
</div>

<br><br>

<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 50%;">

  <div class="row" style="width: 100%;">
    <div class="col-md-12 text-center main-title">
      <h1>Products catalog</h1>
    </div>
  </div>

  <div class="row" style="width: 100%; padding-top: 10px;">
    <div class="col-md-12 text-center">
      <p class="subtitle fancy"><span>{{ category.Name }}</span></p>
    </div>
  </div>

  <br><br>

  <div class="row text-center">
    <div class="col-md-12">
      <button class="btn btn-primary selected" (click)="selectAll($event)"><b>All</b></button>
      <button class="btn btn-primary" *ngFor="let subcategory of subcategories" (click)="selectByCategory($event, subcategory.Id)"><b>{{subcategory.Name}}</b></button>
    </div>
  </div>

</div>

<div class="container text-center" style="width: 100%;">
  <br><br>

  <div class="row text-center">
    <div class="col-md-12">
      <ag-grid-angular style="width: 970px; height: 641px;" class="ag-fresh" [rowData]="rowData" [columnDefs]="columnDefs" [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>