<!-- BACKGROUND -->
<div class="background">
</div>

<!-- UNDER-NAV -->
<div class="container under-nav">
  <div class="row">
    <div class="col-md-3 text-right call-section">
      <p>
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502388446/Epam-Training-Final-App/phone-call.png" alt="">        +1-234-567-888
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img src="http://cdn-hn.arrowpress.net/efarm/wp-content/themes/efarm/images/logo5.png" alt="">
    </div>
    <div class="col-md-3 text-left">

      <div class="row" style="width: 100%;">
        <div class="col-md-4">
          <a routerLink="/cart" class="shopping-cart">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502388367/Epam-Training-Final-App/shopping-cart.png" alt="">
            Cart
          </a>
        </div>
        <div class="col-md-3">
          <div *ngIf="isUserAuthenticated == true" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                My account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a routerLink="/profile" class="dropdown-item">My Profile</a>
              <a (click)="logOut()" class="dropdown-item">Log Out</a>
            </div>
          </div>
          <a *ngIf="isUserAuthenticated == false" routerLink="/login" class="log-in">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TITLE -->
<div class="container background-title text-center">
  <h4>Welcome</h4>
  <h2>Seasonal and organic fruit, <br> veg and more to your door</h2>
</div>

<!-- BANNER -->
<div class="container green-banner">
  <div class="row">

    <div class="col-md-4 text-right">
      <p>
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Epam-Training-Final-App/icons/shipped_1.png" alt="">
        <b>Fast Shipping</b>
      </p>
    </div>
    <div class="col-md-2 text-center">
      <p>
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Epam-Training-Final-App/icons/piggybank.png" alt="">
        <b>Discount</b>
      </p>
    </div>
    <div class="col-md-2 text-center">
      <p>
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Epam-Training-Final-App/icons/credit-card.png" alt="">
        <b>Сonvenient Payment</b>
      </p>
    </div>
    <div class="col-md-4 text-left">
      <p>
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/Epam-Training-Final-App/icons/gift.png" alt="">
        <b>Awesome Gift</b>
      </p>
    </div>

  </div>
</div>

<!-- MAIN CONTENT -->
<div class="conteiner main-content">

  <div class="row" style="width: 100%;">
    <div class="col-md-12 text-center main-title">
      <h1>Categories</h1>
    </div>
  </div>

  <div class="row" style="width: 100%; padding-top: 10px;">
    <div class="col-md-12 text-center">
      <p class="subtitle fancy"><span>FRESH FROM OUR FARM</span></p>
    </div>
  </div>

  <br><br>

  <div class="container" style="width: 70%;">
    <div class="row text-center">

      <div *ngFor="let category of categories" (click)="selectCategory(category)" class="col-md-3 category-item">
        <img src="{{ category.ImagePath }}" alt="">
        <br><br>
        <p>{{ category.Name }}</p>
      </div>

    </div>
  </div>

  <br><br><br>

  <div class="container" style="width: 100%;">
    <div class="row text-center">
      <div class="col-md-6 get-started-banner">
        <div class="get-started-banner-text">
          <h1>It's as easy to get started today</h1> <br><br>
          <p>
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502885862/Epam-Training-Final-App/icons/archive.png" alt="">            Pick your own box
          </p>
          <p>
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502886080/Epam-Training-Final-App/icons/delivery-truck.png"
              alt=""> And we wll deliver
          </p>
          <br>
          <p class="small-text">
            ! A free cookbook in your first delivery and 4th box free.
          </p>
        </div>
      </div>
      <div class="col-md-6 get-started-banner-image">
        <img src="http://cdn-hn.arrowpress.net/efarm/wp-content/uploads/2017/04/img-banner1.png" alt="">
      </div>
    </div>
  </div>

  <br><br><br>

  <div class="row" style="width: 100%;">
    <div class="col-md-12 text-center main-title">
      <h1>Organic goods 50% off</h1>
    </div>
  </div>

  <div class="row" style="width: 100%; padding-top: 10px;">
    <div class="col-md-12 text-center">
      <p class="subtitle fancy"><span>EFARM DEAL OF THE DAY</span></p>
    </div>
  </div>

  <br>

  <div class="container text-center" style="width: 50%;">
      <p class="under-small-text"><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</i></p>
  </div>

</div>