/* COLORS */
$colorWhite:    #fff
$colorLime:     #80BB01

/* FONTS */
$sizeTitle:     50px

/*---------------------------- BACKGROUND --------------------------*/
.background
    background: url(http://cdn-hn.arrowpress.net/efarm/wp-content/uploads/2017/05/slider-62.jpg)
    background-position: top
    background-repeat: no-repeat
    height: 40%
    background-size: cover

.background-title
    width: 100%
    position: absolute
    top: 20%
    color: $colorWhite

.background-title h4
    font-family: 'Cookie', cursive
    font-size: 100px
    color: $colorWhite

.background-title h2
	font-size: 70px
	line-height: 1.0
    font-weight: 800

.background-title h4::first-letter
    color: $colorLime

/*----------------------- MAIN CONTENT ----------------------*/
.main-content
    width: 100%
    margin-top: 5%

.main-title h1
    font-size: $sizeTitle
    font-weight: 700

.fancy
    line-height: 0.5
    text-align: center
    font-size: 22px
    color: $colorLime

.fancy span 
    display: inline-block
    position: relative

.fancy span:before, .fancy span:after 
    content: ""
    position: absolute
    margin-top: 5px
    height: 5px
    border-bottom: 1px solid #111
    border-top: 1px solid #111
    top: 0
    width: 120px

.fancy span:before 
    right: 100%
    margin-right: 15px

.fancy span:after
    left: 100%
    margin-left: 15px

.cart-item
    line-height: 78px
    border-top: 1px solid #EBEBEB
    border-left: 1px solid #EBEBEB
    border-right: 1px solid #EBEBEB

.cart-item:last-child
    border-bottom: 1px solid #EBEBEB

.cart-item h3
    font-weight: 600
    font-size: 15px
    line-height: 78px
    margin: 0

.cart-item p
    line-height: 78px
    margin: 0

@media screen and (max-width: 1500px)
    .shopping-cart, .shopping-cart:hover
        padding-right: 20px
    .under-nav
        font-size: 13px
    .btn-secondary
        font-size: 13px 