<!-- BACKGROUND -->
<div class="background">
</div>

<!-- TITLE -->
<div class="container background-title text-center">
  <h4>PROFILE</h4>
</div>

<!-- MAIN-CONTENT -->
<div class="conteiner main-content">

  <div class="row" style="width: 100%;">
    <div class="col-md-12 text-center main-title">
      <h1>Personal info</h1>
    </div>
  </div>

  <div class="row" style="width: 100%; padding-top: 10px;">
    <div class="col-md-12 text-center">
      <p class="subtitle fancy"><span>No changes allowed:(</span></p>
    </div>
  </div>

  <br><br>


  <div class="container" style="width: 45%;">

    <div class="row text-right">

      <div class="col-md-3 text-left">
        <p><b>First name:</b></p>
      </div>
      <div class="col-md-9">
        <p>{{ user.FirstName }}</p>
      </div>

    </div>
    <div class="row text-right">

      <div class="col-md-3 text-left">
        <p><b>Last name:</b></p>
      </div>
      <div class="col-md-9">
        <p>{{ user.LastName }}</p>
      </div>

    </div>
    <div class="row text-right">

      <div class="col-md-3 text-left">
        <p><b>Email:</b></p>
      </div>
      <div class="col-md-9">
        <p>{{ user.Email }}</p>
      </div>

    </div>
    <div class="row text-right">

      <div class="col-md-3 text-left">
        <p><b>Phone number:</b></p>
      </div>
      <div class="col-md-9">
        <p>{{ user.PhoneNumber }}</p>
      </div>

    </div>
    <div class="row text-right">

      <div class="col-md-3 text-left">
        <p><b>Address:</b></p>
      </div>
      <div class="col-md-9">
        <p>{{ user.Address }}</p>
      </div>

    </div>

  </div>

  <br><br>

  <div class="row" style="width: 100%;">
    <div class="col-md-12 text-center main-title">
      <h1>Order list</h1>
    </div>
  </div>

  <div class="row" style="width: 100%; padding-top: 10px;">
    <div class="col-md-12 text-center">
      <p class="subtitle fancy"><span>The list of your orders</span></p>
    </div>
  </div>


  <h1 *ngIf="orders.length == 0" style="text-align:center;">No orders...</h1>

  <div *ngIf="orders.length != 0" class="main-content">

    <div class="container" style="width: 90%;">

      <div class="row text-center cart-item">
        <div class="col-md-3"><b>Status</b></div>
        <div class="col-md-6"><b>Unique code</b></div>
        <div class="col-md-3"><b>Total price</b></div>
      </div>

      <div class="row text-center cart-item" *ngFor="let order of orders">

        <div class="col-md-3">
          <p>Waiting for confirmation</p>
        </div>
        <div class="col-md-6">
          <p>{{ order.UniqueCode }}</p>
        </div>
        <div class="col-md-3">
          <p>${{ order.TotalPrice }}</p>
        </div>

      </div>
    </div>

    <br><br>
  </div>

</div>