<div class="footer">
  <div class="container text-center" style="width: 65%;">

    <div class="row">
      <div class="col-md-3">
        <img src="http://cdn-hn.arrowpress.net/efarm/wp-content/uploads/2017/05/brand2.png" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://cdn-hn.arrowpress.net/efarm/wp-content/uploads/2017/05/brand1.png" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://cdn-hn.arrowpress.net/efarm/wp-content/uploads/2017/05/brand3.png" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://cdn-hn.arrowpress.net/efarm/wp-content/uploads/2017/05/brand4.png" alt="">
      </div>
    </div>

  </div>
</div>

<div class="under-footer">
  <div class="container text-left" style="width: 85%;">
    <div class="row">
      <div class="col-md-3 under-footer-text">
        <p>&copy; 2017 GROCERY STORE</p>
      </div>
      <div class="col-md-9 text-right under-footer-links">
        <ul class="links">
          <li><a href="javascript::void()"><i class="fa fa-twitter"></i></a></li>
          <li><a href="javascript::void()"><i class="fa fa-facebook"></i></a></li>
          <li><a href="javascript::void()"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="javascript::void()"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>