/* COLORS */
$colorWhite:    #fff
$colorLime:     #80BB01
$colorGray:     #444

.footer
    background-color: $colorGray

.footer .container
	padding: 50px 0

.under-footer
	height: 65px
	background-color: #222
	color: $colorWhite

.under-footer-text
	font-size: 14px
	padding-top: 27px

.under-footer-links
	font-size: 16px
	padding-top: 23px

.links a
	color: $colorLime
	transition: 0.4s

.links a:hover
	color: $colorWhite

ul.links li
	padding-right: 15px
	display: inline