@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i')
@import url('https://fonts.googleapis.com/css?family=Cookie')
@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,500,500i,700,700i,800,800i')

@import 'node_modules/ngx-toastr/toastr'

*
    margin: 0
    padding: 0

body, html 
    width: 100%
    height: 100%

body 
    font-family: 'Montserrat', sans-serif
