/* COLORS */
$colorNavbarLink: #fff
$colorNavbarLinkHover: #6ABB01

/* FONTS */
$weightSemiBold: 600


/*---------------- NAVBAR ----------------*/
.bg-inverse 
    position: absolute
    width: 100%

.navbar-inverse .navbar-nav .nav-link 
    color: $colorNavbarLink
    font-weight: $weightSemiBold
    transition: .4s
    font-size: 15px

.navbar-inverse .navbar-nav .nav-link:hover
    color: $colorNavbarLinkHover

.navbar-brand
    padding-left: 10%

.navbar-nav
    margin-right: 10%

.nav-item
    padding-right: 15px

.navbar-brand img
    height: 45px
    width: 50px