<!-- BACKGROUND -->
<div class="background">
</div>

<!-- UNDER-NAV -->
<div class="container under-nav">
  <div class="row">
    <div class="col-md-3 text-right call-section">
      <p>
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502388446/Epam-Training-Final-App/phone-call.png" alt="">        +1-234-567-888
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img src="http://cdn-hn.arrowpress.net/efarm/wp-content/themes/efarm/images/logo5.png" alt="">
    </div>
    <div class="col-md-3 text-left">
      <div class="row" style="width: 100%;">
        <div class="col-md-4">
          <a routerLink="/cart" class="shopping-cart">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502388367/Epam-Training-Final-App/shopping-cart.png" alt="">
            Cart
          </a>
        </div>
        <div class="col-md-3">
          <div *ngIf="isUserAuthenticated == true" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                My account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a routerLink="/profile" class="dropdown-item">My Profile</a>
              <a (click)="logOut()" class="dropdown-item">Log Out</a>
            </div>
          </div>
          <a *ngIf="isUserAuthenticated == false" routerLink="/login" class="log-in">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TITLE -->
<div class="container background-title text-center">
  <h4>CONTACT</h4>
</div>

<!-- MAIN-CONTENT -->
<div class="conteiner main-content">

  <div class="row" style="width: 100%;">
    <div class="col-md-12 text-center main-title">
      <h1>Stay connected</h1>
    </div>
  </div>

  <div class="row" style="width: 100%; padding-top: 10px;">
    <div class="col-md-12 text-center">
      <p class="subtitle fancy"><span>Everyone is important to us</span></p>
    </div>
  </div>

  <br><br>


  <div class="container" style="width: 70%;">

    <div class="row text-center">
      
      <div class="col-md-4 contact-item">
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502875542/Epam-Training-Final-App/icons/location.png" alt="">
        <h4>Location</h4>
        <br>
        <p>8901 Sovetskaya, Gomel <br> D04 89GR</p>
      </div>
      <div class="col-md-4 contact-item">
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502875696/Epam-Training-Final-App/icons/phone-call_1.png" alt="">
        <h4>Call us</h4>
        <br>
        <p>+375-44-123-45-67</p>
      </div>
      <div class="col-md-4 contact-item">
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502875754/Epam-Training-Final-App/icons/opened-email-envelope.png" alt="">
        <h4>Mail</h4>
        <br>
        <p>Our email address: <br> grocerystoregomel@gmail.com</p>
      </div>

    </div>

  </div>

</div>
