/* COLORS */
$colorWhite:    #fff
$colorLime:     #80BB01

/* FONTS */
$sizeTitle:     50px

/*---------------------------- BACKGROUND --------------------------*/
.background
    background: url(http://cdn-hn.arrowpress.net/efarm/wp-content/uploads/2017/05/slider-62.jpg)
    background-position: top
    background-repeat: no-repeat
    height: 50%
    background-size: cover

.background-title
    width: 100%
    position: absolute
    top: 30%
    color: $colorWhite

.background-title h4
    font-family: 'Cookie', cursive
    font-size: 100px
    color: $colorWhite

.background-title h2
	font-size: 70px
	line-height: 1.0
    font-weight: 800

.background-title h4::first-letter
    color: $colorLime

/*------------------------------ UNDER-NAV ---------------------------*/
.under-nav
    height: 110px
    line-height: 110px
    width: 100%
    background-color: $colorWhite
    position: absolute
    top: 0
    margin-top: 69px
    color: $colorLime

.shopping-cart, .shopping-cart:hover
    border-right: 1px solid #999
    padding-right: 40px
    text-decoration: none
    color: $colorLime

.log-in, .log-in:hover
    text-decoration: none
    color: $colorLime
    cursor: pointer

.dropdown 
    max-width: 140px
    margin: 0
    padding: 0
    background-color: transparent

.btn-secondary
    border: 1px solid $colorLime
    color: $colorWhite
    background-color: $colorLime
    font-weight: 600

.btn-secondary:hover
    border: 1px solid #333
    color: $colorWhite
    background-color: #333

.dropdown-item
    height: 30px
    line-height: 30px
    cursor: pointer

/*----------------------- MAIN CONTENT ----------------------*/
.main-content
    width: 100%
    margin-top: 5%

.main-title h1
    font-size: $sizeTitle
    font-weight: 700

.fancy
    line-height: 0.5
    text-align: center
    font-size: 22px
    color: $colorLime

.fancy span 
    display: inline-block
    position: relative

.fancy span:before, .fancy span:after 
    content: ""
    position: absolute
    margin-top: 5px
    height: 5px
    border-bottom: 1px solid #111
    border-top: 1px solid #111
    top: 0
    width: 120px

.fancy span:before 
    right: 100%
    margin-right: 15px

.fancy span:after
    left: 100%
    margin-left: 15px

.contact-item
    padding: 10px
    border: 1px solid #EBEBEB

@media screen and (max-width: 1500px)
    .shopping-cart, .shopping-cart:hover
        padding-right: 20px
    .under-nav
        font-size: 13px
    .btn-secondary
        font-size: 13px 