/* COLORS */
$colorWhite:    #fff
$colorLime:     #80BB01

/* FONTS */
$sizeTitle:     50px

/*---------------------------- BACKGROUND --------------------------*/
.background
    background: url(http://cdn-hn.arrowpress.net/efarm/wp-content/uploads/2017/05/slider-62.jpg)
    background-position: top
    background-repeat: no-repeat
    height: 50%
    background-size: cover

.background-title
    width: 100%
    position: absolute
    top: 30%
    color: $colorWhite

.background-title h4
    font-family: 'Cookie', cursive
    font-size: 100px
    color: $colorWhite

.background-title h2
	font-size: 70px
	line-height: 1.0
    font-weight: 800

.background-title h4::first-letter
    color: $colorLime

/*------------------------------ UNDER-NAV ---------------------------*/
.under-nav
    height: 110px
    line-height: 110px
    width: 100%
    background-color: $colorWhite
    position: absolute
    top: 0
    margin-top: 69px
    color: $colorLime

.shopping-cart, .shopping-cart:hover
    border-right: 1px solid #999
    padding-right: 40px
    text-decoration: none
    color: $colorLime

.log-in, .log-in:hover
    text-decoration: none
    color: $colorLime
    cursor: pointer

.dropdown 
    max-width: 140px
    margin: 0
    padding: 0
    background-color: transparent

.btn-secondary
    border: 1px solid $colorLime
    color: $colorWhite
    background-color: $colorLime
    font-weight: 600

.btn-secondary:hover
    border: 1px solid #333
    color: $colorWhite
    background-color: #333

.dropdown-item
    height: 30px
    line-height: 30px
    cursor: pointer

/*----------------------- MAIN CONTENT ------------------------*/
.cart-item
    line-height: 78px
    border-top: 1px solid #EBEBEB
    border-left: 1px solid #EBEBEB
    border-right: 1px solid #EBEBEB

.cart-item:last-child
    border-bottom: 1px solid #EBEBEB

.total
    height: 78px
    line-height: 78px

.total-caption
    border: 1px solid #EBEBEB
    border-right: none
    border-bottom: none

.total-price
    border: 1px solid #EBEBEB
    border-left: none
    border-bottom: none

.total-caption-submit
    border: 1px solid #EBEBEB
    border-right: none

.total-price-submit
    border: 1px solid #EBEBEB
    border-left: none

.product-image 
    height: 70px

h3
    font-weight: 600
    font-size: 15px
    line-height: 78px
    margin: 0

p
    line-height: 78px
    margin: 0

.btn-link
    cursor: pointer
    color: #555
    text-decoration: none

.btn-link:hover
    cursor: pointer
    color: #111
    text-decoration: none

.btn-primary
    background-color: $colorLime
    color: $colorWhite
    border-color: $colorLime
    font-weight: 600
    border-radius: 15px
    transition: .4s

.btn-primary:hover
    background-color: #333
    border-color: #333

@media screen and (max-width: 1500px)
    .shopping-cart, .shopping-cart:hover
        padding-right: 20px
    .under-nav
        font-size: 13px
    .btn-secondary
        font-size: 13px 