<!-- BACKGROUND -->
<div class="background">
</div>

<!-- UNDER-NAV -->
<div class="container under-nav">
  <div class="row">
    <div class="col-md-3 text-right call-section">
      <p>
        <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502388446/Epam-Training-Final-App/phone-call.png" alt="">        +1-234-567-888
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img src="http://cdn-hn.arrowpress.net/efarm/wp-content/themes/efarm/images/logo5.png" alt="">
    </div>
    <div class="col-md-3 text-left">
      <div class="row" style="width: 100%;">
        <div class="col-md-4">
          <a routerLink="/cart" class="shopping-cart">
            <img src="http://res.cloudinary.com/dby4pjuo8/image/upload/v1502388367/Epam-Training-Final-App/shopping-cart.png" alt="">
            Cart
          </a>
        </div>
        <div class="col-md-3">
          <div *ngIf="isUserAuthenticated == true" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                My account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a routerLink="/profile" class="dropdown-item">My Profile</a>
              <a (click)="logOut()" class="dropdown-item">Log Out</a>
            </div>
          </div>
          <a *ngIf="isUserAuthenticated == false" routerLink="/login" class="log-in">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TITLE -->
<div class="container background-title text-center">
  <h4>CART</h4>
</div>

<br><br>

<h1 *ngIf="order.OrderItems.length == 0" style="text-align:center;">No items in cart</h1>

<br>

<div *ngIf="order.OrderItems.length != 0" class="main-content">

  <div class="container" style="width: 70%;">

    <div class="row text-center cart-item">
      <div class="col-md-1"></div>
      <div class="col-md-2"><b>Product image</b></div>
      <div class="col-md-3"><b>Product name</b></div>
      <div class="col-md-3"><b>Product description</b></div>
      <div class="col-md-3"><b>Price</b></div>
    </div>

    <div class="row text-center cart-item" *ngFor="let item of order.OrderItems">

      <div class="col-md-1">
        <button class="btn btn-link" (click)="removeItem(item.Id)">x</button>
      </div>
      <div class="col-md-2">
        <img src="{{ item.ProductImage }}" class="product-image" alt="">
      </div>
      <div class="col-md-3">
        <h3>{{ item.ProductName }}</h3>
      </div>
      <div class="col-md-3">
        <p>{{ item.ProductDescription }}</p>
      </div>
      <div class="col-md-3">
        <h3>${{ item.ProductPrice | number:'1.2-2' }}</h3>
      </div>

    </div>
  </div>

  <br><br>

  <div class="container" style="width: 70%;">

    <div class="row text-center total">
      <div class="col-md-6"></div>
      <div class="col-md-3 total-caption"><b>TOTAL:</b></div>
      <div class="col-md-3 total-price"><b>${{ totalPrice | number:'1.2-2' }}</b></div>
    </div>
    <div class="row text-center total">
      <div class="col-md-6"></div>
      <div class="col-md-3 total-caption-submit"></div>
      <div class="col-md-3 total-price-submit">
        <button class="btn btn-primary" (click)="submitCart(order.Id)">Submit</button>
      </div>
    </div>

  </div>

</div>

<br><br>